.rodape{

    background-color: var(--cor-principal);
    padding: 1rem 2rem 0.5rem 0.875rem;
    display: flex;
    gap: 2rem;
    
}

.imagem__rodape{
    width: 161px;
    height: 32px;
}

.rodape__link{
    color:white;
}

.aparece__1024{
    display: none;
}


@media screen and (min-width:1024px) {

    .rodape{
        display: flex;
        justify-content: space-evenly;
        padding: 3rem;

    }

    .aparece__1024{
        display: block;
    }
    
}

@media screen and (min-width: 1720px) {   
    .rodape{
               
        padding:0 0 0 312px;
        align-items: center;
        justify-content: space-between;
        width:auto;
    }         

    .rodape__link {
    order: 1;
    }
    
    .imagem__rodape {
    order: 2;
    height: 105px;
    width: auto;
    justify-self: end;
    }
            

          
      
}